<mat-toolbar
  [ngStyle]="{
    backgroundColor: 'white',
    boxShadow: 'rgba(149, 157, 165, 0.2) 0px 8px 24px',
    position: 'fixed',
    zIndex: '1000',
  }"
>
  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img
    [ngStyle]="{
      borderRadius: '50%',
      width: '35px',
      height: '35px',
      marginLeft: '.2rem'
    }"
    src="https://scontent.fdub4-2.fna.fbcdn.net/v/t39.30808-6/424949147_122098394624207304_2993377099035223100_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=KEgXElOBubMAX8s6aV3&_nc_ht=scontent.fdub4-2.fna&oh=00_AfCFFQ7RIopJpIiyNEJbcVyyiqTTOAzy_Wqmjewjsxrl6Q&oe=65CF76D2"
  />
  <span
    id="title"
    [ngStyle]="{
      fontFamily: 'Caveat , cursive',
      fontSize: '1.4em',
      fontWeight: '700',
      marginLeft: '.4rem',
    }"
    >Furs Things First</span
  >

  <!-- <mat-icon>pets</mat-icon> -->
  <span class="example-spacer"></span>
  <a
    href="https://www.facebook.com/profile.php?id=61556219123886"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <fa-icon [ngStyle]="{ color: '#3D3B40' }" [icon]="faFacebook"></fa-icon>
  </a>
  <a
    href="https://www.instagram.com/furs_things_first/"
    mat-icon-button
    aria-label="Example icon-button with menu icon"
  >
    <fa-icon [ngStyle]="{ color: '#3D3B40' }" [icon]="faInstagram"></fa-icon>
  </a>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home">
    <mat-icon [ngStyle]="{ color: '#6DA4AA' }" class="material-symbols-outlined"
      >home_app_logo</mat-icon
    >
    <span [ngStyle]="{ color: '#3D3B40' }">Home</span>
  </button>
  <button mat-menu-item routerLink="/about">
    <mat-icon [ngStyle]="{ color: '#6DA4AA' }" class="material-symbols-outlined"
      >info_i</mat-icon
    >
    <span [ngStyle]="{ color: '#3D3B40' }">About us</span>
  </button>
  <a
    mat-menu-item
    href="mailto:email@example.com?subject=Mail from our Website"
  >
    <mat-icon [ngStyle]="{ color: '#6DA4AA' }" class="material-symbols-outlined"
      >mail</mat-icon
    >
    <span [ngStyle]="{ color: '#3D3B40' }">Contact</span>
  </a>
</mat-menu>
