.container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  .txt_container {
    display: flex;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      .txt {
        width: 100%;
      }
      .img {
        width: 100%;
      }
      .bottom_img {
        margin-top: 5%;
      }
    }
    @media screen and (min-width: 1201px) {
      display: flex;
      flex-direction: row;
      .txt {
        width: 50%;
      }
      .top_text {
        margin-left: 5%;
      }
      .img {
        width: 50%;
      }
      .bottom_txt {
        margin-right: 5%;
      }
    }
  }
}
