<div class="container">
  <img
    src="https://images.pexels.com/photos/9354913/pexels-photo-9354913.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
  <div
    [ngStyle]="{
      marginTop: '-35%',
      width: '100%',
      textAlign: 'center',
      display: 'flex',
      flexDirection: 'column'
    }"
  >
    <span
      [ngStyle]="{
        fontSize: '6em',
        color: 'white',

        fontWeight: '700'
      }"
      >ABOUT US</span
    >
  </div>
  <div [ngStyle]="{ marginTop: '40%' }">
    <div
      [ngStyle]="{
        fontSize: '1.4rem',
        fontWeight: '600',
        marginBottom: '1rem',
        fontFamily: 'Montserrat, sans-serif'
      }"
    >
      Hi, I'm Adam
    </div>
    <span
      [ngStyle]="{ fontSize: '1.4em', fontWeight: '400', color: '#3D3B40' }"
    >
      A certified dog trainer. I offer positive reinforcement training for dogs
      of all ages and levels, from puppy classes to agility courses. I also
      coach you, the owner, on how to communicate and bond with your dog. The
      journey begins with training your own dog. Whether you currently own a dog
      or find one to spend time with, focus on building a regular training
      routine. Beyond basic commands like “sit” or “down,” teach advanced skills
      and work on problem behaviors. Contact me for a free consultation and
      let's start your training journey together!</span
    >
  </div>
  <mat-divider [ngStyle]="{ marginTop: '7rem' }"></mat-divider>
  <div [ngStyle]="{ marginTop: '7rem' }">
    <div
      [ngStyle]="{
        fontSize: '1.4rem',
        fontWeight: '600',
        marginBottom: '4rem',
        fontFamily: 'Montserrat, sans-serif',
        textAlign: 'center'
      }"
    >
      Vision
    </div>
  </div>
  <div class="txt_container">
    <img
      class="img top"
      [ngStyle]="{
        height: 'min-content',
        transform: 'rotate(1deg)',
        marginBottom: '5%'
      }"
      src="https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
    <div class="txt top">
      <span
        [ngStyle]="{
          fontSize: '1.4em',
          fontWeight: '400',
          color: '#3D3B40'
        }"
      >
        At <strong>Furs Things First</strong> Dog Training, our unwavering
        vision is to foster a world where every canine companion is not only
        trained but also treated with the utmost respect. We believe that a
        well-trained dog is a happy dog, and that harmonious coexistence between
        pets and their human families is achievable through positive
        reinforcement and understanding. In this future we envision, dog
        training transcends mere necessity—it becomes a standard practice
        ingrained in our society. Pet owners are empowered with the knowledge
        and skills necessary to forge strong, positive relationships with their
        furry friends. We see a community where responsible dog ownership is
        celebrated, and where every interaction between humans and dogs is
        rooted in kindness, patience, and empathy. But our vision extends beyond
        the immediate present. We dream of a time when common behavioral
        problems in dogs are minimized and prevented altogether. Imagine a world
        where barking, aggression, and anxiety are addressed proactively,
        leading to a more peaceful cohabitation.</span
      >
    </div>
  </div>
  <mat-divider [ngStyle]="{ marginTop: '5%' }"></mat-divider>
  <div class="txt_container" [ngStyle]="{ marginTop: '5%' }">
    <div class="txt bottom">
      <span
        [ngStyle]="{
          fontSize: '1.4em',
          fontWeight: '400',
          color: '#3D3B40'
        }"
      >
        Our vision sees a future where dog behavior problems are minimized and
        prevented, and where every dog has the opportunity to reach its full
        potential as a beloved companion.</span
      >
      <span
        [ngStyle]="{
          fontSize: '1.4em',
          fontWeight: '400',
          marginTop: '4%',
          color: '#3D3B40'
        }"
        >In this utopian canine landscape, every dog—regardless of breed, size,
        or background—has the opportunity to flourish and reach its full
        potential as a cherished companion. So, join us on this journey toward a
        brighter, more compassionate future—one where wagging tails and joyful
        barks echo in harmony with the laughter of their human counterparts.
        Together, we can create a world where dogs thrive, families flourish,
        and love knows no bounds.</span
      >
    </div>
    <img
      class="img bottom"
      [ngStyle]="{
        height: 'min-content',
        transform: 'rotate(-1deg)',
      }"
      src="https://images.pexels.com/photos/686094/pexels-photo-686094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>
  <mat-divider [ngStyle]="{ marginTop: '7rem' }"></mat-divider>
  <div [ngStyle]="{ marginTop: '7rem', width: '100%', textAlign: 'center' }">
    <span [ngStyle]="{ fontSize: '1.2em', fontWeight: '500', color: '#3D3B40' }"
      >COPYRIGHT © 2024 FURS THINGS FIRST DOG TRAINING - ALL RIGHTS
      RESERVED</span
    >
  </div>
  <div
    [ngStyle]="{
  display: 'flex',
justifyContent: 'center',
marginTop: '2rem',
}"
  >
    <img
      [ngStyle]="{
borderRadius: '50%',
width: '50px',
height: '50px',
}"
      src="https://scontent.fdub4-2.fna.fbcdn.net/v/t39.30808-6/424949147_122098394624207304_2993377099035223100_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=KEgXElOBubMAX8s6aV3&_nc_ht=scontent.fdub4-2.fna&oh=00_AfCFFQ7RIopJpIiyNEJbcVyyiqTTOAzy_Wqmjewjsxrl6Q&oe=65CF76D2"
    />
  </div>
  <div
    [ngStyle]="{
      marginTop: '2rem',
      marginBottom: '4rem',
      display: 'flex',
      justifyContent: 'center'
    }"
  >
    <button
      mat-flat-button
      [ngStyle]="{ fontSize: '1.4em', fontWeight: '500', color: '#6DA4AA' }"
    >
      About us</button
    ><button
      (click)="openBottomSheet()"
      mat-flat-button
      [ngStyle]="{ fontSize: '1.4em', fontWeight: '500', color: '#6DA4AA' }"
    >
      Contact
    </button>
  </div>
</div>
