<mat-nav-list>
  <div
    mat-subheader
    [ngStyle]="{
      display: 'flex',
      flexDirection: 'row',
    }"
  >
    <img
      [ngStyle]="{
    borderRadius: '50%',
    width: '35px',
    height: '35px',
  }"
      src="../../../assets/logo.jpg"
    />

    <span
      [ngStyle]="{
        fontFamily: 'Caveat , cursive',
        fontSize: '1.6em',
        fontWeight: '700',
        marginLeft: '1rem',
        alignSelf: 'center'
      }"
      >Furs Things First</span
    >
  </div>
  <div [ngStyle]="{ maxWidth: '600px', padding: '1rem', marginBottom: '1rem' }">
    <span
      >At Furs Things First, we offer positive, fun, and effective dog training
      for all breeds and ages. Whether you need group classes, private sessions,
      home visits, or online consultations, we can help you and your dog.
      Contact us today by phone or email. We can't wait to meet you and your
      furry friend!</span
    >
  </div>
  <mat-divider></mat-divider>
  <div mat-subheader>Contact us</div>
  <mat-list-item (click)="openMail()"
    ><mat-icon matListItemIcon>email</mat-icon>
    <span matListItemTitle>Email</span>
    <span matLine>contact&#64;fursthingsfirst.ie</span>
  </mat-list-item>
  <mat-list-item (click)="openPhone()"
    ><mat-icon matListItemIcon>smartphone</mat-icon>
    <span matListItemTitle>Mobile</span>
    <span matLine>+353 85 137 4535</span>
  </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
<button
  mat-button
  [ngStyle]="{
    width: '100%',
    height: '56px',
    fontSize: '1.2em',
    fontWeight: '400',
    marginTop: '.5rem',
  }"
  (click)="closeBottomSheet()"
>
  Close
</button>
