<mat-nav-list>
  <div
    mat-subheader
    [ngStyle]="{
      display: 'flex',
      flexDirection: 'row',
    }"
  >
    <img
      [ngStyle]="{
    borderRadius: '50%',
    width: '35px',
    height: '35px',
  }"
      src="https://scontent.fdub4-2.fna.fbcdn.net/v/t39.30808-6/424949147_122098394624207304_2993377099035223100_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=KEgXElOBubMAX8s6aV3&_nc_ht=scontent.fdub4-2.fna&oh=00_AfCFFQ7RIopJpIiyNEJbcVyyiqTTOAzy_Wqmjewjsxrl6Q&oe=65CF76D2"
    />

    <span
      [ngStyle]="{
        fontFamily: 'Caveat , cursive',
        fontSize: '1.6em',
        fontWeight: '700',
        marginLeft: '1rem',
        alignSelf: 'center'
      }"
      >Furs Things First</span
    >
  </div>

  <mat-list-item (click)="openMail()"
    ><mat-icon matListItemIcon>email</mat-icon>
    <span matListItemTitle>Contact via email address</span>
    <span matLine>example&#64;email.com</span>
  </mat-list-item>
  <mat-list-item (click)="openPhone()"
    ><mat-icon matListItemIcon>phone</mat-icon>
    <span matListItemTitle>Contact via phone number</span>
    <span matLine>1234567890</span>
  </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
<button
  mat-button
  [ngStyle]="{
    width: '100%',
    height: '56px',
    fontSize: '1.2em',
    fontWeight: '400'
  }"
  (click)="closeBottomSheet()"
>
  Close
</button>
