<div class="container">
  <img
    [ngStyle]="{ marginTop: '4rem' }"
    src="https://images.pexels.com/photos/5745269/pexels-photo-5745269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
  <div
    [ngStyle]="{
      marginTop: '-50%',
      width: '100%',
      textAlign: 'center',
      display: 'flex',
      flexDirection: 'column'
    }"
  >
    <span
      [ngStyle]="{
        fontSize: '2em',
        color: 'white',
        fontWeight: '700'
      }"
      >FUN AND</span
    >
    <span
      [ngStyle]="{
        fontSize: '2em',
        color: 'white',
        marginTop: '1rem',
        fontWeight: '700'
      }"
      >ACCOUNTABLE</span
    >
    <span
      [ngStyle]="{
        textAlign: 'center',
        fontSize: '2em',
        color: 'white',
        marginTop: '1rem',
        fontWeight: '700'
      }"
      >EXPERT</span
    >
    <span
      [ngStyle]="{
        textAlign: 'center',
        fontSize: '2em',
        color: 'white',
        marginTop: '1rem',
        fontWeight: '700'
      }"
      >TRAINING</span
    >
  </div>
  <div [ngStyle]="{ marginTop: '26%', textAlign: 'center' }">
    <span
      [ngStyle]="{
        fontSize: '2em',
        fontWeight: '500',
        fontFamily: 'Montserrat, sans-serif'
      }"
      >Unleash your Dog's Potential</span
    >
  </div>
  <div
    [ngStyle]="{ display: 'flex', justifyContent: 'center', marginTop: '2rem' }"
  >
    <a
      href="mailto:email@example.com?subject=Mail from our Website"
      mat-raised-button
      [ngStyle]="{
        color: 'white',
        backgroundColor: '#6DA4AA',
        width: '400px',
        height: '56px'
      }"
    >
      <span [ngStyle]="{ fontSize: '1.2em', textTransform: 'uppercase' }"
        >Schedule dog training</span
      >
    </a>
  </div>
  <div
    [ngStyle]="{
      marginTop: '3rem',
      display: 'flex',
      flexDirection: 'column'
    }"
  >
    <span
      [ngStyle]="{
        textAlign: 'center',
        fontSize: '1.4em',
        fontWeight: '500',
        marginBottom: '2rem'
      }"
      >Services</span
    >
  </div>
  <div [ngStyle]="{ display: 'flex', flexDirection: 'column' }">
    <div
      [ngStyle]="{
        display: 'flex',
        justifyContent: 'center',
      }"
    >
      <img
        [ngStyle]="{ borderRadius: '50%', width: '90%' }"
        src="https://images.pexels.com/photos/1346086/pexels-photo-1346086.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        flexDirection: 'column',
        textAlign: 'center'
      }"
    >
      <span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '500'
        }"
        >Puppy Training</span
      >
      <span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '400',
          padding: '0 1rem'
        }"
        >We teach young dogs to develop good behavior and manners, basic
        obedience skills, and proper socialization with other dogs and
        people.</span
      >
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        justifyContent: 'center',
        marginTop: '2rem'
      }"
    >
      <img
        [ngStyle]="{ borderRadius: '50%', width: '90%' }"
        src="https://images.pexels.com/photos/333083/pexels-photo-333083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        flexDirection: 'column',
        textAlign: 'center'
      }"
    >
      <span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '500'
        }"
        >Protection Training</span
      ><span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '400',
          padding: '0 1rem'
        }"
        >Focuses on teaching dogs how to protect their owner or handler on
        command, while still being able to distinguish between real threats and
        non-threatening situations.</span
      >
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        justifyContent: 'center',
        marginTop: '2rem'
      }"
    >
      <img
        [ngStyle]="{ borderRadius: '50%', width: '90%' }"
        src="https://images.pexels.com/photos/1254140/pexels-photo-1254140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        flexDirection: 'column',
        textAlign: 'center'
      }"
    >
      <span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '500'
        }"
        >Behavior Modification</span
      ><span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '400',
          padding: '0 1rem'
        }"
        >We determine the underly issue, correct it and make your dog reliable
        in any situation.
      </span>
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        justifyContent: 'center',
        marginTop: '2rem'
      }"
    >
      <img
        [ngStyle]="{ borderRadius: '50%', width: '90%' }"
        src="https://images.pexels.com/photos/160846/french-bulldog-summer-smile-joy-160846.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        flexDirection: 'column',
        textAlign: 'center'
      }"
    >
      <span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '500'
        }"
        >Private Lessons</span
      >
      <span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '400',
          padding: '0 1rem'
        }"
        >Individualized training for your dog's specific needs.</span
      >
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        justifyContent: 'center',
        marginTop: '2rem'
      }"
    >
      <img
        [ngStyle]="{ borderRadius: '50%', width: '90%' }"
        src="https://images.pexels.com/photos/5364963/pexels-photo-5364963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </div>
    <div
      [ngStyle]="{
        display: 'flex',
        flexDirection: 'column',
        textAlign: 'center'
      }"
    >
      <span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '500'
        }"
        >Group Classes</span
      ><span
        [ngStyle]="{
          marginTop: '1rem',
          fontSize: '1.2em',
          fontWeight: '400',
          padding: '0 1rem'
        }"
        >Structured training sessions where multiple dogs and their owners can
        learn basic obedience skills, socialize with other dogs, and receive
        guidance and feedback.</span
      >
    </div>
  </div>
  <div [ngStyle]="{ marginTop: '6rem', textAlign: 'center' }">
    <span
      [ngStyle]="{
        fontSize: '2em',
        fontWeight: '500',
        fontFamily: 'Montserrat, sans-serif'
      }"
      >Let me help you bring out the best in your dog</span
    >
  </div>
  <div
    [ngStyle]="{ display: 'flex', justifyContent: 'center', marginTop: '2rem' }"
  >
    <a
      href="mailto:email@example.com?subject=Mail from our Website"
      mat-raised-button
      [ngStyle]="{
        color: 'white',
        backgroundColor: '#6DA4AA',
        width: '400px',
        height: '56px'
      }"
    >
      <span [ngStyle]="{ fontSize: '1.2em', textTransform: 'uppercase' }"
        >Schedule dog training</span
      >
    </a>
  </div>
  <mat-divider [ngStyle]="{ marginTop: '3rem' }"></mat-divider>
  <div [ngStyle]="{ marginTop: '3rem', width: '100%', textAlign: 'center' }">
    <span [ngStyle]="{ fontSize: '1.2em', fontWeight: '500' }"
      >COPYRIGHT © 2024 FURS THINGS FIRST DOG TRAINING - ALL RIGHTS
      RESERVED</span
    >
  </div>
  <div
    [ngStyle]="{
      marginTop: '2rem',
      marginBottom: '4rem',
      display: 'flex',
      justifyContent: 'center'
    }"
  >
    <button
      mat-flat-button
      [ngStyle]="{ fontSize: '1.4em', fontWeight: '500' }"
      routerLink="/about"
    >
      About us</button
    ><a
      href="mailto:email@example.com?subject=Mail from our Website"
      mat-flat-button
      [ngStyle]="{ fontSize: '1.4em', fontWeight: '500' }"
    >
      Contact
    </a>
  </div>
</div>
