<div class="container">
  <img
    src="https://images.pexels.com/photos/5745269/pexels-photo-5745269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
  <div
    [ngStyle]="{
      marginTop: '-40%',
      width: '100%',
      textAlign: 'center',
      display: 'flex',
      flexDirection: 'column'
    }"
  >
    <span
      class="title"
      [ngStyle]="{
        color: 'white',
        fontWeight: '700'
      }"
      >FUN AND ACCOUNTABLE</span
    >
    <span
      class="title"
      [ngStyle]="{
        textAlign: 'center',
        color: 'white',
        marginTop: '10%',
        fontWeight: '700'
      }"
      >EXPERT TRAINING</span
    >
  </div>
  <div class="txt_container">
    <span
      class="txt"
      [ngStyle]="{
        fontWeight: '500',
        fontFamily: 'Montserrat, sans-serif'
      }"
      >Unleash your Dog's Potential</span
    >
  </div>
  <div
    [ngStyle]="{ display: 'flex', justifyContent: 'center', marginTop: '6%' }"
  >
    <button
      (click)="openBottomSheet()"
      mat-flat-button
      [ngStyle]="{
        color: 'white',
        backgroundColor: '#6DA4AA',
        width: '400px',
        height: '56px'
      }"
    >
      <span [ngStyle]="{ fontSize: '1.2em', textTransform: 'uppercase' }"
        >Schedule dog training</span
      >
    </button>
  </div>
  <mat-divider [ngStyle]="{ marginTop: '10%' }"></mat-divider>
  <div
    [ngStyle]="{
      marginTop: '10%',
      display: 'flex',
      flexDirection: 'column'
    }"
  >
    <span
      [ngStyle]="{
        textAlign: 'center',
        fontSize: '1.6em',
        fontWeight: '500',
        marginBottom: '5%'
      }"
      >Services</span
    >
    <div [ngStyle]="{ display: 'flex', flexDirection: 'row' }">
      <div
        [ngStyle]="{
          width: '33.33%',
          display: 'flex',
          justifyContent: 'center',
        }"
      >
        <img
          [ngStyle]="{ borderRadius: '50%', width: '90%' }"
          src="https://images.pexels.com/photos/1346086/pexels-photo-1346086.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
      </div>
      <div
        [ngStyle]="{
          width: '33.33%',
          display: 'flex',
          justifyContent: 'center',
        }"
      >
        <img
          [ngStyle]="{ borderRadius: '50%', width: '90%' }"
          src="https://images.pexels.com/photos/333083/pexels-photo-333083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
      </div>
      <div
        [ngStyle]="{
          width: '33.33%',
          display: 'flex',
          justifyContent: 'center',
        }"
      >
        <img
          [ngStyle]="{ borderRadius: '50%', width: '90%' }"
          src="https://images.pexels.com/photos/1254140/pexels-photo-1254140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
      </div>
    </div>
    <div [ngStyle]="{ display: 'flex', flexDirection: 'row' }">
      <div
        [ngStyle]="{
          width: '33.33%',
          display: 'flex',
          flexDirection: 'column',
          textAlign: 'center'
        }"
      >
        <span
          [ngStyle]="{
            marginTop: '2rem',
            fontSize: '1.4em',
            fontWeight: '500'
          }"
          >Puppy Training</span
        >
        <span
          [ngStyle]="{
            marginTop: '1rem',
            fontSize: '1.2em',
            fontWeight: '400',
            padding: '0 1rem',
            color: '#3D3B40'
          }"
          >We teach young dogs to develop good behavior and manners, basic
          obedience skills, and proper socialization with other dogs and
          people.</span
        >
      </div>
      <div
        [ngStyle]="{
          width: '33.33%',
          display: 'flex',
          flexDirection: 'column',
          textAlign: 'center'
        }"
      >
        <span
          [ngStyle]="{
            marginTop: '2rem',
            fontSize: '1.4em',
            fontWeight: '500'
          }"
          >Protection Training</span
        ><span
          [ngStyle]="{
            marginTop: '1rem',
            fontSize: '1.2em',
            fontWeight: '400',
            padding: '0 1rem',
            color: '#3D3B40'
          }"
          >Focuses on teaching dogs how to protect their owner or handler on
          command, while still being able to distinguish between real threats
          and non-threatening situations.</span
        >
      </div>
      <div
        [ngStyle]="{
          width: '33.33%',
          display: 'flex',
          flexDirection: 'column',
          textAlign: 'center'
        }"
      >
        <span
          [ngStyle]="{
            marginTop: '2rem',
            fontSize: '1.4em',
            fontWeight: '500'
          }"
          >Behavior Modification</span
        ><span
          [ngStyle]="{
            marginTop: '1rem',
            fontSize: '1.2em',
            fontWeight: '400',
            padding: '0 1rem',
            color: '#3D3B40'
          }"
          >We determine the underly issue, correct it and make your dog reliable
          in any situation.
        </span>
      </div>
    </div>
    <div
      [ngStyle]="{ display: 'flex', flexDirection: 'row', marginTop: '4rem' }"
    >
      <div
        [ngStyle]="{
          width: '50%',
          display: 'flex',
          justifyContent: 'center',
        }"
      >
        <img
          [ngStyle]="{ borderRadius: '50%', width: '60%' }"
          src="https://images.pexels.com/photos/160846/french-bulldog-summer-smile-joy-160846.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
      </div>
      <div
        [ngStyle]="{
          width: '50%',
          display: 'flex',
          justifyContent: 'center',
        }"
      >
        <img
          [ngStyle]="{ borderRadius: '50%', width: '60%' }"
          src="https://images.pexels.com/photos/5364963/pexels-photo-5364963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
      </div>
    </div>
    <div [ngStyle]="{ display: 'flex', flexDirection: 'row' }">
      <div
        [ngStyle]="{
          width: '50%',
          display: 'flex',
          flexDirection: 'column',
          textAlign: 'center'
        }"
      >
        <span
          [ngStyle]="{
            marginTop: '2rem',
            fontSize: '1.4em',
            fontWeight: '500'
          }"
          >Private Lessons</span
        >
        <span
          [ngStyle]="{
            marginTop: '1rem',
            fontSize: '1.2em',
            fontWeight: '400',
            padding: '0 1rem',
            color: '#3D3B40'
          }"
          >Individualized training for your dog's specific needs.</span
        >
      </div>
      <div
        [ngStyle]="{
          width: '50%',
          display: 'flex',
          flexDirection: 'column',
          textAlign: 'center'
        }"
      >
        <span
          [ngStyle]="{
            marginTop: '2rem',
            fontSize: '1.4em',
            fontWeight: '500'
          }"
          >Group Classes</span
        ><span
          [ngStyle]="{
            marginTop: '1rem',
            fontSize: '1.2em',
            fontWeight: '400',
            padding: '0 1rem',
            color: '#3D3B40'
          }"
          >Structured training sessions where multiple dogs and their owners can
          learn basic obedience skills, socialize with other dogs, and receive
          guidance and feedback.</span
        >
      </div>
    </div>
  </div>
  <mat-divider [ngStyle]="{ marginTop: '10%' }"></mat-divider>
  <div
    class="txt_container_2"
    [ngStyle]="{ marginTop: '10%', textAlign: 'center' }"
  >
    <span
      class="txt_2"
      [ngStyle]="{
        fontWeight: '500',
        fontFamily: 'Montserrat, sans-serif'
      }"
      >Let me help you bring out the best in your dog</span
    >
  </div>
  <div
    [ngStyle]="{ display: 'flex', justifyContent: 'center', marginTop: '3rem' }"
  >
    <button
      (click)="openBottomSheet()"
      mat-flat-button
      [ngStyle]="{
        color: 'white',
        backgroundColor: '#6DA4AA',
        width: '400px',
        height: '56px'
      }"
    >
      <span [ngStyle]="{ fontSize: '1.2em', textTransform: 'uppercase' }"
        >Schedule dog training</span
      >
    </button>
  </div>
  <mat-divider [ngStyle]="{ marginTop: '10%' }"></mat-divider>
  <div [ngStyle]="{ marginTop: '10%', width: '100%', textAlign: 'center' }">
    <span [ngStyle]="{ fontSize: '1.2em', fontWeight: '500', color: '#3D3B40' }"
      >COPYRIGHT © 2024 FURS THINGS FIRST DOG TRAINING - ALL RIGHTS
      RESERVED</span
    >
  </div>
  <div
    [ngStyle]="{
    display: 'flex',
justifyContent: 'center',
marginTop: '2rem',
}"
  >
    <img
      [ngStyle]="{
  borderRadius: '50%',
  width: '50px',
  height: '50px',
}"
      src="https://scontent.fdub4-2.fna.fbcdn.net/v/t39.30808-6/424949147_122098394624207304_2993377099035223100_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=KEgXElOBubMAX8s6aV3&_nc_ht=scontent.fdub4-2.fna&oh=00_AfCFFQ7RIopJpIiyNEJbcVyyiqTTOAzy_Wqmjewjsxrl6Q&oe=65CF76D2"
    />
  </div>
  <div
    [ngStyle]="{
      marginTop: '2rem',
      marginBottom: '4rem',
      display: 'flex',
      justifyContent: 'center'
    }"
  >
    <button
      mat-flat-button
      [ngStyle]="{ fontSize: '1.4em', fontWeight: '500', color: '#6DA4AA' }"
      routerLink="/about"
    >
      About us</button
    ><button
      (click)="openBottomSheet()"
      mat-flat-button
      [ngStyle]="{ fontSize: '1.4em', fontWeight: '500', color: '#6DA4AA' }"
    >
      Contact
    </button>
  </div>
</div>
